@model IEnumerable<MVCAssignment_3.Models.Hall>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:deeppink">Welcome to Hall Details</h1>

<form asp-action="Search">
    
    <label for="price" >Enter the Hall budget per day :  </label>
    <input type="number" name="price" placeholder="Enter Budget"></input>

    <input type="submit" value="Get Halls"></input>
</form>